*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url('../public/sbg2-01.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

